
/* Global Styles */

html {
    font-size: 20px;
    box-sizing: border-box;
    background-color: black;
}

*, *::before, *::after {
    border-style: none;
    box-sizing: inherit;
}

body {
    text-align: left;
    line-height: 1.7em;
    font-weight: 500;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0px;
    padding: 2vh 5vw;
}

body, input, textarea, select {
    font-family: 'Roboto',Helvetica,Arial,Lucida,sans-serif;
}

h1, p {
    color: white;
    text-align: center;
    text-shadow:
        0.05em 0 black,
        0 0.05em black,
        -0.05em 0 black,
        0 -0.05em black,
        -0.05em -0.05em black,
        -0.05em 0.05em black,
        0.05em -0.05em black,
        0.05em 0.05em black;
}

label {
    font-size: 18px;
    color: white;
    display: inline-block;
    padding-bottom: 5px;
}

input:not([type="checkbox"]):not([type="radio"]), select, textarea, button[type="submit"] {
    border-radius: 5px;
    width: 100%;
    padding: 1em;
}

/* Form Styles */

form {
    background-color: rgba(51, 68, 74, 0.8);
    border-radius: 5px;
    padding: min(7.5vw, 30px) min(5vw, 30px);
    max-width: 800px;
    margin: auto;
}

[class*="form-group"]:not([class="form-group-checkbox"]):not([class="form-group-radio"]) {
    padding-bottom: 1.4em;
}

input[type="checkbox"], input[type="radio"] {
    margin-right: 10px;
    transform: scale(1.5);
}

.form-group-checkbox, .form-group-radio {
    font-size: 18px;
    padding-bottom: 0px;
    margin-bottom: -7.5px;
    margin-right: 5px;
}

textarea {
    min-height: 180px;
    resize: vertical;
}

button[type="submit"] {
    background-color: rgb(232, 72, 45);
}

button[type="submit"]:hover {
    background-color: rgb(102, 204, 204);
}