
/* Global Styles */

html {
    font-size: 20px;
    box-sizing: border-box;
    background-color: black;
}

*, *::before, *::after {
    border-style: none;
    box-sizing: inherit;
}

body {
    text-align: left;
    line-height: 1.7em;
    font-weight: 500;
    background-image: url("images/bg-elden-ring.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0px;
    padding: 2vh 5vw;
}

body, input, textarea, select {
    font-family: 'Roboto',Helvetica,Arial,Lucida,sans-serif;
}

section {
    padding-bottom: 2em;
}

h1, p {
    color: white;
    text-align: center;
}

label {
    font-size: 18px;
    color: white;
    display: inline-block;
    padding-bottom: 5px;
}

input:not([type="checkbox"]):not([type="radio"]), select, textarea, button[type="submit"] {
    border-radius: 5px;
    width: 100%;
    padding: 1em;
}

/* Form Styles */

form {
    background-color: rgba(51, 68, 74, 0.8);
    border-radius: 5px;
    padding: 7.5vw 5vw;
}

[class*="form-group"]:not([class="form-group-checkbox"]):not([class="form-group-radio"]) {
    padding-bottom: 1.4em;
}

button[type="submit"] {
    background-color: rgb(232, 72, 45);
}

.form-group-checkbox label, .form-group-radio label {
    font-size: 18px;
}

textarea {
    min-height: 180px;
    resize: vertical;
}